h1{
    background-attachment: fixed;
    background-color :rgb(230, 137, 23);
}
p{
    background-color: rgb(138, 231, 16);
    margin: 10px 10px 20px 20px;
}
image{
    max-width: 50%;
    max-height: 30%;
}